<div class="row">
  <!-- First Match -->
  <div class="col-md-4">
    <div class="match_card">
      <h2 class="serif_text top_header">Match #1</h2>
      <h4>Location: Address here</h4>
      <div class="match_card_img_container">
        <%= image_tag "map.jpg", class: "img-responsive" %>
        <div class="match_score">87%</div>

        <%= render partial: "static/hover" %>
      </div>

      <h4>Products Matches</h4>
      <ul class="list-inline">
        <li>product #1</li>
        <li>sweet product #2</li>
      </ul>
      <a class="block_element button" href="/match_detail?name=Kat%20Chocolate">Learn More</a>
    </div>
  </div>

  <!-- Second Match -->
  <div class="col-md-4">
    <div class="match_card">
      <h2 class="serif_text top_header">Match #2</h2>
      <h4>Location: Address here</h4>
      <div class="match_card_img_container">
        <%= image_tag "map.jpg", class: "img-responsive" %>
        <div class="match_score">80%</div>

        <%= render partial: "static/hover" %>
      </div>

      <h4>Products Matches</h4>
      <ul class="list-inline">
        <li>product #1</li>
        <li>sweet product #2</li>
      </ul>
      <a class="block_element button" href="/match_detail?name=Tom's%20Deli">Learn More</a>
    </div>
  </div>

  <!-- Last Match -->
  <div class="col-md-4">
    <div class="match_card">
      <h2 class="serif_text top_header">Match #3</h2>
      <h4>Location: Address here</h4>
      <div class="match_card_img_container">
        <%= image_tag "map.jpg", class: "img-responsive" %>
        <div class="match_score">65%</div>

        <%= render partial: "static/hover" %>
      </div>

      <h4>Products Matches</h4>
      <ul class="list-inline">
        <li>product #1</li>
        <li>sweet product #2</li>
      </ul>
      <a class="block_element button" href="/match_detail?name=Local%20Artist">Learn More</a>
    </div>
  </div>
</div>
