<div class="row">
  <!-- First Match -->
  <div class="col-md-4">
    <a class="match_card" href="/match_detail?match=2">
      <div class="match_card_img_container">
        <%= image_tag "business_backdrop2.png", class: "full_width" %>
      </div>

      <div class="match_card_content">
        <h1 class="serif_header_text top_header no_margin_bottom"><%= session[:top_matches_2_name] %></h1>
        <ul class="list-inline match_card_content_detail">
          <li class="no_padding_left match_percent olive_text serif_text">
            <span class="match_percent_number olive_text serif_text">99%</span>
            <span class="match_percent_text olive_text serif_text">MATCH</span>
          </li>
          <li class="address no_padding_right"><i class="fa fa-map-marker olive_text"></i></li>
          <li class="address no_padding_left olive_text serif_text">
            <span class="match_distance_number olive_text serif_text">4.2</span>
            <span class="match_distance_text olive_text serif_text">MI</span>
          </li>
          <%= render partial: "static/hover", :locals => {:match_num => 2} %>
        </ul>
        <p>
          Lorem ipsum sit amet, consectur adipiscing elit, sed do eiusmod tempor inciditunt ut labore et dolore magnum.
        </p>
        <div class="yelp_review_container">
          <%= render partial: "static/stars", :locals => {:num => 4, :half_present => false} %>
        </div>
      </div>
      <div class="match_card_bottom">
        <h4 class="serif_text normal_font_size">Product Matches</h4>
        <ul class="list-inline">
          <li><%= session[:top_matches_2_product_match_1] %></li>
          <li><%= session[:top_matches_2_product_match_2] %></li>
        </ul>
        <!-- <a class="block_element button" href="/match_detail?name=Bob's%20Bakery">Learn More</a> -->
      </div>
    </a>
  </div>

  <!-- Second Match -->
  <div class="col-md-4">
    <a class="match_card" href="/match_detail?match=3">
      <div class="match_card_img_container">
        <%= image_tag "business_backdrop3.png", class: "full_width" %>
      </div>

      <div class="match_card_content">
        <h1 class="serif_header_text top_header no_margin_bottom"><%= session[:top_matches_3_name] %></h1>
        <ul class="list-inline match_card_content_detail">
          <li class="no_padding_left match_percent olive_text serif_text">
            <span class="match_percent_number olive_text serif_text">97%</span>
            <span class="match_percent_text olive_text serif_text">MATCH</span>
          </li>
          <li class="address no_padding_right"><i class="fa fa-map-marker olive_text"></i></li>
          <li class="address no_padding_left olive_text serif_text">
            <span class="match_distance_number olive_text serif_text">4.2</span>
            <span class="match_distance_text olive_text serif_text">MI</span>
          </li>
          <%= render partial: "static/hover", :locals => {:match_num => 3} %>
        </ul>
        <p>
          Lorem ipsum sit amet, consectur adipiscing elit, sed do eiusmod tempor inciditunt ut labore et dolore magnum.
        </p>
        <div class="yelp_review_container">
          <%= render partial: "static/stars", :locals => {:num => 3, :half_present => true} %>
        </div>
      </div>
      <div class="match_card_bottom">
        <h4 class="serif_text normal_font_size">Products Matches</h4>
        <ul class="list-inline">
          <li><%= session[:top_matches_3_product_match_1] %></li>
          <li><%= session[:top_matches_3_product_match_2] %></li>
        </ul>
        <!-- <a class="block_element button" href="/match_detail?name=Bob's%20Bakery">Learn More</a> -->
      </div>
    </a>
  </div>
</div>
