<div class="row">
  <!-- First match -->
  <div class="col-md-4">
    <div class="match_card">
      <div class="match_card_img_container">
        <%= image_tag "business.jpg", class: "img-responsive" %>
      </div>

      <div class="match_card_content">
        <h1 class="serif_text top_header no_margin_bottom"><b>Match #1</b></h1>
        <ul class="list-inline match_card_content_detail">
          <li class="no_padding_left match_percent olive_text">98% Match</li>
          <li class="address no_padding_right olive_text"><i class="fa fa-map-marker"></i></li>
          <li class="address no_padding_left olive_text">4.2mi</li>
          <%= render partial: "static/hover" %>
        </ul>
        <p>
          Lorem ipsum sit amet, consectur adipiscing elit, sed do eiusmod tempor inciditunt ut labore et dolore magnum.
        </p>
        <div class="yelp_review_container">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <span class="min_padding_left">(72 Yelp Reviews)</span>
        </div>
      </div>
      <div class="match_card_bottom">
        <h4>Products Matches</h4>
        <ul class="list-inline">
          <li>product #1</li>
          <li>cool product #2</li>
        </ul>
        <a class="block_element button" href="/match_detail?name=Bob's%20Bakery">Learn More</a>
      </div>
    </div>
  </div>

  <!-- Second match -->
  <div class="col-md-4">
    <div class="match_card">
      <div class="match_card_img_container">
        <%= image_tag "business.jpg", class: "img-responsive" %>
      </div>

      <div class="match_card_content">
        <h1 class="serif_text top_header no_margin_bottom"><b>Match #2</b></h1>
        <ul class="list-inline match_card_content_detail">
          <li class="no_padding_left match_percent olive_text">98% Match</li>
          <li class="address no_padding_right olive_text"><i class="fa fa-map-marker"></i></li>
          <li class="address no_padding_left olive_text">4.2mi</li>
          <%= render partial: "static/hover" %>
        </ul>
        <p>
          Lorem ipsum sit amet, consectur adipiscing elit, sed do eiusmod tempor inciditunt ut labore et dolore magnum.
        </p>
        <div class="yelp_review_container">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <span class="min_padding_left">(72 Yelp Reviews)</span>
        </div>
      </div>
      <div class="match_card_bottom">
        <h4>Products Matches</h4>
        <ul class="list-inline">
          <li>product #1</li>
          <li>cool product #2</li>
        </ul>
        <a class="block_element button" href="/match_detail?name=The%20Flower%20Guy">Learn More</a>
      </div>
    </div>
  </div>

  <!-- Last match -->
  <div class="col-md-4">
    <div class="match_card">
      <div class="match_card_img_container">
        <%= image_tag "business.jpg", class: "img-responsive" %>
      </div>

      <div class="match_card_content">
        <h1 class="serif_text top_header no_margin_bottom"><b>Match #3</b></h1>
        <ul class="list-inline match_card_content_detail">
          <li class="no_padding_left match_percent olive_text">98% Match</li>
          <li class="address no_padding_right olive_text"><i class="fa fa-map-marker"></i></li>
          <li class="address no_padding_left olive_text">4.2mi</li>
          <%= render partial: "static/hover" %>
        </ul>
        <p>
          Lorem ipsum sit amet, consectur adipiscing elit, sed do eiusmod tempor inciditunt ut labore et dolore magnum.
        </p>
        <div class="yelp_review_container">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half"></i>
          <span class="min_padding_left">(72 Yelp Reviews)</span>
        </div>
      </div>
      <div class="match_card_bottom">
        <h4>Products Matches</h4>
        <ul class="list-inline">
          <li>product #1</li>
          <li>cool product #2</li>
        </ul>
        <a class="block_element button" href="/match_detail?name=Mass%20Distribution">Learn More</a>
      </div>
    </div>
  </div>
</div>
