

<div class="row">
  <!-- First campaign -->
  <% if session[:primary_products][0] %>
    <% their_product = session[:primary_products][0] %>
    <% matched_product = session["top_matches_#{@match_number}_product_match_1"] %>

    <div class="col-md-4">
      <div class="campaign_card">
        <div class="campaign_card_img_container campaign_card_img1">
          <%# image_tag "green_backdrop1.png", class: "full_width" %>
          <div class="campaign_card_header_container">
            <div class="campaign_card_header_column">
              <span class="campaign_card_header_subtext">YOUR</span>
              <span class="serif_header_text campaign_card_header_main_text"><%= their_product %></span>
            </div>
            <div class="campaign_card_header_column campaign_card_header_main_text campaign_card_header_plus">
              +
            </div>
            <div class="campaign_card_header_column">
              <span class="campaign_card_header_subtext">OUR</span>
              <span class="serif_header_text campaign_card_header_main_text"><%= matched_product %></span>
            </div>
          </div>
        </div>

        <!-- Text content -->
        <div class="campaign_card_content">
          <h3 class="serif_header_text top_header">
            <%= their_product %>
            &
            <%= matched_product %>
          </h3>

          <p>
            98% of establishments that sell <%= their_product %> also serve <%= matched_product %> -- this campaign has a success rate of 88%.
          </p>

          <div class="green_text serif_text smaller_margin_bottom">
            Suggest a
            <span class="time_selector serif_text">1 month</span>
            <i class="fa fa-caret-down normal_text_color smaller_font_size"></i>
            campaign
          </div>
        </div>

        <div class="campaign_card_bottom">
          <a class="message_business" href="/match_detail?name=Bob's%20Bakery">
            <span class="fa-stack fa-lg message_icon_container">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <span class="message_business_text">message us!</span>
          </a>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Second campaign -->
  <% if session[:primary_products][1] %>
    <% their_product = session[:primary_products][1] %>
    <% matched_product = session["top_matches_#{@match_number}_product_match_2"] %>

    <div class="col-md-4">
      <div class="campaign_card">
        <div class="campaign_card_img_container campaign_card_img2">
          <%# image_tag "green_backdrop1.png", class: "full_width" %>
          <div class="campaign_card_header_container">
            <div class="campaign_card_header_column">
              <span class="campaign_card_header_subtext">YOUR</span>
              <span class="serif_header_text campaign_card_header_main_text"><%= their_product %></span>
            </div>
            <div class="campaign_card_header_column campaign_card_header_main_text campaign_card_header_plus">
              +
            </div>
            <div class="campaign_card_header_column">
              <span class="campaign_card_header_subtext">OUR</span>
              <span class="serif_header_text campaign_card_header_main_text"><%= matched_product %></span>
            </div>
          </div>
        </div>

        <!-- Text content -->
        <div class="campaign_card_content">
          <h3 class="serif_header_text top_header">
            <%= their_product %>
            &
            <%= matched_product %>
          </h3>

          <p>
            98% of establishments that sell <%= their_product %> also serve <%= matched_product %> -- this campaign has a success rate of 88%.
          </p>

          <div class="green_text serif_text smaller_margin_bottom">
            Suggest a
            <span class="time_selector serif_text">3 month</span>
            <i class="fa fa-caret-down normal_text_color smaller_font_size"></i>
            campaign
          </div>
        </div>

        <div class="campaign_card_bottom">
          <a class="message_business" href="/match_detail?name=Bob's%20Bakery">
            <span class="fa-stack fa-lg message_icon_container">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <span class="message_business_text">message us!</span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
