<div class="backdrop smaller_backdrop">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="progress_bar">
        <div class="progress_bar_step">1</div>
        <hr class="progress_bar_spacer">
        <div class="progress_bar_step active">2</div>
        <hr class="progress_bar_spacer">
        <div class="progress_bar_step">3</div>
      </div>
      <div class="progress_bar_step_name cursive_text">
        Additional Info
      </div>
    </div>
  </div>
</div>

<div class="main_content_container">
  <p class="serif_text">Now could you provide us with some additional background information about your business?</p>

  <%= form_tag("/quiz2") do %>
      <%= label_tag "average_num_daily_customers", "On average, how many customers do you serve per day?", class: "block_element" %>
      <%= number_field_tag "average_num_daily_customers", nil, within: 1...100000, class: "input_field quiz_input_field" %>

      <%= label_tag "most_known_product", "What product are you most known for?", class: "block_element" %>
      <%= text_field_tag "most_known_product", nil, class: "input_field quiz_input_field" %>

      <%= label_tag "product_interested_in_selling", "Is there a product that you are interested in selling, but don’t already sell? If yes, what product?", class: "block_element" %>
      <%= text_field_tag "product_interested_in_selling", nil, class: "input_field quiz_input_field" %>

      <%= submit_tag "next", class: "block_element button" %>
  <% end %>
</div>
