<div class="backdrop smaller_backdrop">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="progress_bar">
        <div class="progress_bar_step">1</div>
        <hr class="progress_bar_spacer">
        <div class="progress_bar_step">2</div>
        <hr class="progress_bar_spacer">
        <div class="progress_bar_step active">3</div>
      </div>
      <div class="progress_bar_step_name cursive_text">
        Compatibility
      </div>
    </div>
  </div>
</div>

<div class="main_content_container col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <p class="serif_text bigger_font_size">Please answer the following questions to help us better determine compatible businesses.</p>

  <%= form_tag("/quiz3") do %>
      <%= label_tag "community_involvement", "Community involvement is important to my business.", class: "block_element form_label serif_text first_form_input_spacing" %>
      <div>
        <%= radio_button_tag "community_involvement", "1" %>
        <%= label_tag "community_involvement_1", "Strongly Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "community_involvement", "2" %>
        <%= label_tag "community_involvement_2", "Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "community_involvement", "3" %>
        <%= label_tag "community_involvement_3", "Neutral", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "community_involvement", "4" %>
        <%= label_tag "community_involvement_4", "Agree", class: "radio_button_label" %>
      </div>
      <div class="small_margin_bottom">
        <%= radio_button_tag "community_involvement", "5" %>
        <%= label_tag "community_involvement_5", "Strongly Agree", class: "radio_button_label" %>
      </div>


      <%= label_tag "biggest_priority", "At the end of the day, profit is the main priority.", class: "block_element serif_text form_label form_input_spacing" %>
      <div>
        <%= radio_button_tag "biggest_priority", "1" %>
        <%= label_tag "biggest_priority_1", "Strongly Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "biggest_priority", "2" %>
        <%= label_tag "biggest_priority_2", "Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "biggest_priority", "3" %>
        <%= label_tag "biggest_priority_3", "Neutral", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "biggest_priority", "4" %>
        <%= label_tag "biggest_priority_4", "Agree", class: "radio_button_label" %>
      </div>
      <div class="small_margin_bottom">
        <%= radio_button_tag "biggest_priority", "5" %>
        <%= label_tag "biggest_priority_5", "Strongly Agree", class: "radio_button_label" %>
      </div>


      <%= label_tag "customer_satisfaction_importance", "There is nothing more important than customer satisfaction.", class: "block_element serif_text form_label form_input_spacing" %>
      <div>
        <%= radio_button_tag "customer_satisfaction_importance", "1" %>
        <%= label_tag "customer_satisfaction_importance_1", "Strongly Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "customer_satisfaction_importance", "2" %>
        <%= label_tag "customer_satisfaction_importance_2", "Disagree", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "customer_satisfaction_importance", "3" %>
        <%= label_tag "customer_satisfaction_importance_3", "Neutral", class: "radio_button_label" %>
      </div>
      <div>
        <%= radio_button_tag "customer_satisfaction_importance", "4" %>
        <%= label_tag "customer_satisfaction_importance_4", "Agree", class: "radio_button_label" %>
      </div>
      <div class="small_margin_bottom">
        <%= radio_button_tag "customer_satisfaction_importance", "5" %>
        <%= label_tag "customer_satisfaction_importance_5", "Strongly Agree", class: "radio_button_label" %>
      </div>

      <%= submit_tag "finish", class: "block_element button" %>
  <% end %>
</div>
